<!--
SPDX-FileCopyrightText: 2023 PeriHub <https://github.com/PeriHub/PeriHub>

SPDX-License-Identifier: Apache-2.0
-->

<template>
  <q-page-container class="row justify-center full-width q-pa-md" style="height: 100%;">
    <div style="margin: 80px">
      <h3> Accessibility statement </h3>
      <div class="row">
        <p>
          This accessibility statement is valid for the website of <a
            href="https://perilab-results.nimbus-extern.dlr.de">https://perilab-results.nimbus-extern.dlr.de</a>.<br>
          <br />

          As a public sector body of the German Federal Government within the meaning of EU Directive 2016/2102, we
          endeavour to make our websites and mobile applications accessible in accordance with the provisions set out
          in
          the German Equality for Persons with Disabilities Act (BGG) and the German Barrier-Free Information
          Technology
          Ordinance (BITV 2.0) in order to implement EU Directive 2016/2102.<br> <br />

          <b>Compliance status</b> <br> <br />
          The accessibility requirements stem from Sections 3 (1) to (4) and 4 of BITV 2.0, adopted on the basis of
          Section 12d BGG.<br> <br />

          At present, the website is partially compliant with the aforementioned requirements. The website is
          currently
          being reviewed with regard to accessibility. It is therefore possible that not all accessibility
          requirements
          have been fully met. We are working on addressing all identified accessibility problems.<br> <br />

          <b>Preparation of this accessibility statement </b> <br> <br />
          This statement was prepared on 9 February 2024. <br> <br />
          <!-- [and last updated on [Datum]]. -->

          Reporting barriers: feedback and contact information<br> <br />
          Would you like to notify us of existing barriers or request information regarding the implementation of
          accessibility?<br> <br />

          If you would like to give us your feedback and for further information, please contact <a
            href="barrierefreiheit@dlr.de">barrierefreiheit@dlr.de</a>.<br> <br />

          <b>Conciliation procedure </b> <br> <br />
          If no satisfactory solution is found following your feedback, then you can turn to the conciliation body,
          pursuant to Section 16 BGG. The BGG conciliation body is tasked with helping to settle accessibility-related
          disputes out of court between people with disabilities and federal public bodies. The conciliation procedure
          is free of charge. No legal assistance is required.<br> <br />

          For more information on the conciliation procedure and the options for filing an application, please visit:
          <a href="www.schlichtungsstelle-bgg.de">www.schlichtungsstelle-bgg.de</a>.<br> <br />

          You can contact the BGG conciliation body directly at: info@schlichtungsstelle-bgg.de <br> <br />
          <br />
          <br />


          DISCLAIMER: The English version is a translation of the original in German for information purposes only. In
          case of a discrepancy, the German original will prevail.<br> <br />
        </p>
      </div>
    </div>
  </q-page-container>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: "AccessibilityPage",
});
</script>
