<!--
SPDX-FileCopyrightText: 2023 PeriHub <https://github.com/PeriHub/PeriHub>

SPDX-License-Identifier: Apache-2.0
-->

<template>
  <q-page-container class="row justify-center full-width q-pa-md" style="height: 100%;">
    <div style="margin: 80px">
      <h3> Impressum </h3>
      <div class="row">
        <p>
          <!-- GERMAN VERSION -->
          <!-- <b>Impressum gem. § 5 Telemediengesetz und § 18 Abs. 2 Medienstaatsvertrag</b> <br/>

            Deutsches Zentrum für Luft- und Raumfahrt e. V. (DLR)<br>
            Linder Höhe<br>
            Deutsches Zentrum für Luft- und Raumfahrt e. V. (DLR)<br>
            Linder Höhe<br>
            51147 Köln<br> <br/>

            Telefon: +49 2203 601-0<br>
            Telefax: +49 2203 67310<br>
            E-Mail: contact-dlr [at] dlr.de<br>
            Website: https://www.dlr.de/ <br><br/>

            Gesetzlicher Vertreter des DLR ist der Vorstand, bestehend aus Prof. Dr.-Ing. Anke Kaysser-Pyzalla (Vorsitzende des Vorstands), Klaus Hamacher (Stellvertretender Vorsitzender des Vorstands), Prof. Dr.-Ing. Karsten Lemmer und Dr.-Ing. Walther Pelzer.<br><br/>

            <b>Sitz des Vorstands</b> <br/>
            Deutsches Zentrum für Luft- und Raumfahrt (DLR), Linder Höhe, 51147 Köln.<br><br/>

            Der Vorstand kann auch durch von ihm ermächtigte Personen vertreten werden. Auskünfte über den Umfang der Ermächtigung erteilt die Leitung der Abteilung Allgemeine Rechtsangelegenheiten des DLR, Linder Höhe, 51147 Köln.<br><br/>

            <b>Registergericht / Registernummer</b> <br/>
            Amtsgericht Bonn, VR 2780 <br><br/>

            <b>Umsatzsteuer-Identifikationsnummer</b> <br/>
            DE 121965658 <br><br/>

            <b>Verantwortliche/r nach § 18 Abs. 2 Medienstaatsvertrag</b> <br/>
            Prof. Dr.-Ing. Peter Wierach <br>
            Deutsches Zentrum für Luft- und Raumfahrt (DLR) <br>
            Institut für Systemleichtbau <br>
            38108 Braunschweig <br><br/>

            [Mailadresse (Angabe ist freiwillig)] <br><br/>

            <b>Haftungshinweis</b> <br> <br/>

            Das DLR ist als Inhaltsanbieter nach § 7 Abs. 1 Telemediengesetz für die „eigenen Inhalte“, die auf
            <a href="https://ngt_bit.nimbus.dlr.de/">https://ngt_bit.nimbus.dlr.de/</a>
            zur Nutzung bereitgehalten werden, nach den allgemeinen Gesetzen verantwortlich. Von diesen eigenen Inhalten sind Querverweise („Links“) auf die von anderen Anbietern bereitgehaltenen Inhalte zu unterscheiden. Durch den Querverweis hält das DLR insofern „fremde Inhalte“ zur Nutzung bereit, die durch den Hinweis „[extern]“oder den Link entsprechend gekennzeichnet sind. Diese fremden Inhalte wurden bei der erstmaligen Link-Setzung daraufhin überprüft, ob durch sie eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird. Es ist jedoch nicht auszuschließen, dass die Inhalte im Nachhinein von den jeweiligen Anbietern verändert werden. Das DLR überprüft die Inhalte, auf die es in seinem Angebot verweist, nicht ständig auf Veränderungen, die eine Verantwortlichkeit neu begründen könnten. Sollten Sie der Ansicht sein, dass die verlinkten externen Seiten gegen geltendes Recht verstoßen oder sonst unangemessene Inhalte haben, so teilen Sie uns dies bitte mit.
          </p> -->

          <!-- ENGLISH VERSION -->
          <b>
            Imprint according to Section 5 Telemediengesetz (German Telemedia Act) and Section 18 Medienstaatsvertrag
            (German State Media Treaty)</b> <br />

          Deutsches Zentrum für Luft- und Raumfahrt e. V.<br>
          German Aerospace Center (DLR)<br>
          Linder Höhe<br>
          51147 Köln (Cologne)<br>
          Germany<br> <br />

          Tel: +49 2203 601-0<br>
          Fax: +49 2203 67310<br>
          email: contact-dlr [at] dlr.de<br>
          https://www.dlr.de/en <br><br />

          DLR's Executive Board is empowered to act as DLR's representative. It consists of Prof. Dr.-Ing. Anke
          Kaysser-Pyzalla (Chair of the DLR Executive Board), Klaus Hamacher (Vice Chairman of the Executive Board),
          Prof. Dr.-Ing. Karsten Lemmer and Dr.-Ing. Walther Pelzer. <br><br />

          <b>Seat of the Executive Board</b> <br />

          The Executive Board's seat is located at DLR, Executive Board, Linder Hoehe, D-51147 Cologne. <br><br />

          The Executive Board can also authorise DLR employees to act on behalf of DLR. The head of DLR's legal
          department, Linder Hoehe, 51147 Cologne, can provide information about the extent of this
          authorisation.<br><br />

          <b>Court of registration/registration number</b> <br />

          District court of Bonn, VR 2780. <br><br />

          <b>Value added tax identification number</b> <br />

          DE 121965658 <br><br />

          <b>Responsible in the sense of Section 18 2nd paragraph of Medienstaatsvertrag (German State Media Treaty)</b>
          <br />

          <!-- TO BE FILLED -->
          Prof. Dr.-Ing. Peter Wierach <br>
          Deutsches Zentrum für Luft- und Raumfahrt (DLR) <br>
          Institut für Systemleichtbau <br>
          38108 Braunschweig <br>
          Germany <br><br />

          <!-- [Mailadresse (Angabe ist freiwillig)] <br><br/> -->

          <b>Liability </b> <br />

          According to section 7 first paragraph of the German Telemedia Act, DLR as the content provider is responsible
          for its own content which it provides for use on this website <a
            href="https://perilab-results.nimbus-extern.dlr.de">https://perilab-results.nimbus-extern.dlr.de</a>, in
          accordance with the general
          laws. Cross-references ("links") to content provided by other content providers must be distinguished from
          DLR´s own content. By means of the cross-reference DLR provides third-party content for use which is marked
          accordingly by the indication "[external]" or by a link. Before setting the link DLR checks this third-party
          content if it causes possible civil or criminal liability. However, it cannot be excluded that the third-party
          content providers change their content afterwards. DLR does not constantly check the third-party content it
          refers to for changes made by the third-party content providers which could engender DLR´s civil or criminal
          liability. If you believe that the linked external sites violate applicable laws or otherwise have
          inappropriate content, please let us know.<br><br />

        </p>
      </div>
    </div>
  </q-page-container>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: "ImpressumPage",
});
</script>
